.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radio-items {
}
.mem-wrapper {
}
.mem-items {
}
.mem {
}
.first-mem {
}
.second-mem {
}
.third-mem {
}
.fourth-mem {
}
.text-wrapper {
}
.text-items {
}
.mem-text {
}
.label-items {
}
.label {
}